
@model DietPlanDto;

@{
	Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div style="background-color:#141414 ;height:80px;margin-top:-10px;width:2000px;">
</div>

@* <h1>@Model.PatientId</h1>
 *@<form asp-controller="Nutritionist" asp-action="CreateDietPlan" method="post" class="wpcf7-form init" aria-label="Contact form" data-status="init">
	<div style="display: none;"> </div>
	<div class="mb-3">
		<p>
			<label for="StartDate">Start Date</label><br>
			<span class="wpcf7-form-control-wrap">
				<input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" id="StartDate" aria-required="true" aria-invalid="false" placeholder="StartDate" type="date" name="StartDate">
			</span>
		</p>
	</div>
	<input value="@Model.PatientId" type="hidden" name="PatientId">

	<div class="mb-3">
		<p>
			<label for="EndDate">EndDate</label><br>
			<span class="wpcf7-form-control-wrap">
				<input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" id="EndDate" aria-required="true" aria-invalid="false" placeholder="EndDate" type="date" name="EndDate">
			</span>
		</p>
	</div>
	<div class="mb-0">
		<p>
			<input class="wpcf7-form-control has-spinner wpcf7-submit" type="submit" value="Add"><span class="wpcf7-spinner"></span>
		</p>
	</div>
</form>