@{
	Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@model List<Post>

<div style="background-color:#141414 ;height:80px;margin-top:-10px;width:2000px;">
</div>

@foreach(var post in Model)
{
	<p>
		@post.Title
	</p>
	<p>
		@post.Description
	</p>

}
