@model List<Notification>
@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}
<div class="container mt-5">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Content</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var not in Model)
            {
                <tr>
                    <td>@not.Content</td>
                    <td>@not.Timestamp</td>
                </tr>
            }
        </tbody>
    </table>
</div>
