@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}




<div style="background-color:#141414 ;height:80px;margin-top:-10px;width:2000px;">
</div>



<section class="elementor-section elementor-top-section elementor-element elementor-element-1c03cbe elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1c03cbe" data-element_type="section" style="margin: 100px 0 50px 0">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-43c5b0f" data-id="43c5b0f" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated e-swiper-container">
                <div class="elementor-element elementor-element-a6d00df elementor-widget elementor-widget-pt-heading" data-id="a6d00df" data-element_type="widget" data-settings="{&quot;decor&quot;:[]}" data-widget_type="pt-heading.default">
                    <div class="elementor-widget-container">

                        <div class="pt-heading" style="text-align:center;">
                            <h2 class=" h2">
                                Why Choose Us
                            </h2>
                        </div>

                    </div>
                </div>
                <div class="elementor-element elementor-element-0ea419d elementor-widget elementor-widget-text-editor" data-id="0ea419d" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <style>
                            /*! elementor - v3.10.1 - 17-01-2023 */
                            .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                background-color: #818a91;
                                color: #fff
                            }

                            .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                color: #818a91;
                                border: 3px solid;
                                background-color: transparent
                            }

                            .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                margin-top: 8px
                            }

                            .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                width: 1em;
                                height: 1em
                            }

                            .elementor-widget-text-editor .elementor-drop-cap {
                                float: left;
                                text-align: center;
                                line-height: 1;
                                font-size: 50px
                            }

                            .elementor-widget-text-editor .elementor-drop-cap-letter {
                                display: inline-block
                            }

                            .pt-icon-box-icon {
                                padding: 10px;
                                border-radius: 14px;
                            }

                                .pt-icon-box-icon img {
                                    max-width: 54px;
                                }

                        </style>

                        <p>Fit & Fuel offers a wide range of compelling reasons to choose our platform for your health and nutrition needs. Here's why you should consider us</p>
                    </div>
                </div>
                <div class="elementor-element elementor-element-17c80b7 elementor-widget elementor-widget-pt-button" data-id="17c80b7" data-element_type="widget" data-widget_type="pt-button.default">
                </div>
                <div class="elementor-element elementor-element-5351c49 elementor-widget elementor-widget-pt-icon-box e-widget-swiper" data-id="5351c49" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;carousel&quot;,&quot;cols&quot;:&quot;3&quot;,&quot;style&quot;:&quot;custom&quot;,&quot;arrows_position&quot;:&quot;together&quot;,&quot;cols_tablet&quot;:&quot;1&quot;,&quot;cols_mobile&quot;:&quot;1&quot;,&quot;gap&quot;:30,&quot;arrows&quot;:&quot;yes&quot;}" data-widget_type="pt-icon-box.default">
                    <div class="elementor-widget-container">

                        <div class="pt-icon-boxes layout-carousel style-custom shape-square arrows-together arrows-align-default">
                            <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">



                                    <div class="swiper-slide swiper-slide-active" style="width: 336px; margin-right: 30px;">

                                        <div class="pt-icon-box">


                                            <div class="content-wrapper">
                                                <div class="title-wrapper">

                                                    <div class="pt-icon-box-icon">

                                                        <img loading="lazy" width="192" height="192" src="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png" class="attachment-full size-full" alt="" decoding="async" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png 192w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-100x100.png 100w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-150x150.png 150w" sizes="(max-width: 192px) 100vw, 192px">
                                                    </div>


                                                    <div class="pt-icon-box-title">
                                                        <a>

                                                            Convenient Access
                                                        </a>
                                                    </div>

                                                </div>


                                                <div class="pt-icon-box-text">
                                                    Gain convenient access to certified nutritionists and personalized health services from the comfort of your home.
                                                </div>

                                            </div>



                                            <a class="pt-icon-box-button pt-button textual">
                                                <span></span>

                                            </a>



                                        </div>

                                    </div>



                                    <div class="swiper-slide swiper-slide-next" style="width: 336px; margin-right: 30px;">

                                        <div class="pt-icon-box">


                                            <div class="content-wrapper">
                                                <div class="title-wrapper">

                                                    <div class="pt-icon-box-icon">

                                                        <img loading="lazy" width="192" height="192" class="attachment-full size-full" alt="" decoding="async" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png 192w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-100x100.png 100w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-150x150.png 150w" sizes="(max-width: 192px) 100vw, 192px">
                                                    </div>


                                                    <div class="pt-icon-box-title">
                                                        <a>
                                                            Guaranteed Results
                                                        </a>
                                                    </div>

                                                </div>


                                                <div class="pt-icon-box-text">
                                                    Achieve your health and fitness goals with guaranteed results, guided by expert nutritionists.
                                                </div>

                                            </div>



                                            <a class="pt-icon-box-button pt-button textual">
                                                <span></span>

                                            </a>




                                        </div>

                                    </div>



                                    <div class="swiper-slide" style="width: 336px; margin-right: 30px;">

                                        <div class="pt-icon-box">


                                            <div class="content-wrapper">
                                                <div class="title-wrapper">

                                                    <div class="pt-icon-box-icon">

                                                        <img loading="lazy" width="192" height="192" src="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png" class="attachment-full size-full" alt="" decoding="async" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png 192w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-100x100.png 100w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-150x150.png 150w" sizes="(max-width: 192px) 100vw, 192px">
                                                    </div>


                                                    <div class="pt-icon-box-title">
                                                        <a>

                                                            Effortless Tracking
                                                        </a>
                                                    </div>

                                                </div>


                                                <div class="pt-icon-box-text">
                                                    Easily track your health information, progress, and daily caloric intake.
                                                </div>

                                            </div>


                                            <a class="pt-icon-box-button pt-button textual">
                                                <span></span>

                                            </a>




                                        </div>

                                    </div>



                                    <div class="swiper-slide" style="width: 336px; margin-right: 30px;">

                                        <div class="pt-icon-box">


                                            <div class="content-wrapper">
                                                <div class="title-wrapper">

                                                    <div class="pt-icon-box-icon">

                                                        <img loading="lazy" width="192" height="192" src="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png" class="attachment-full size-full" alt="" decoding="async" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png 192w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-100x100.png 100w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-150x150.png 150w" sizes="(max-width: 192px) 100vw, 192px">
                                                    </div>


                                                    <div class="pt-icon-box-title">
                                                        <a>

                                                            Expanded Reach
                                                        </a>
                                                    </div>

                                                </div>


                                                <div class="pt-icon-box-text">
                                                    Nutritionists can expand their services beyond physical clinics, providing you with a wider choice of professionals.
                                                </div>

                                            </div>


                                            <a class="pt-icon-box-button pt-button textual">
                                                <span></span>

                                            </a>




                                        </div>

                                    </div>



                                    <div class="swiper-slide" style="width: 336px; margin-right: 30px;">

                                        <div class="pt-icon-box">


                                            <div class="content-wrapper">
                                                <div class="title-wrapper">

                                                    <div class="pt-icon-box-icon">

                                                        <img loading="lazy" width="192" height="192" src="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png" class="attachment-full size-full" alt="" decoding="async" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png 192w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-100x100.png 100w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-150x150.png 150w" sizes="(max-width: 192px) 100vw, 192px">
                                                    </div>


                                                    <div class="pt-icon-box-title">
                                                        <a>

                                                            Real-Time Interaction
                                                        </a>
                                                    </div>

                                                </div>


                                                <div class="pt-icon-box-text">
                                                    Engage in real-time communication with your nutritionists through our chat feature.
                                                </div>

                                            </div>

                                            <a class="pt-icon-box-button pt-button textual">
                                                <span></span>

                                            </a>






                                        </div>

                                    </div>



                                    <div class="swiper-slide" style="width: 336px; margin-right: 30px;">

                                        <div class="pt-icon-box">


                                            <div class="content-wrapper">
                                                <div class="title-wrapper">

                                                    <div class="pt-icon-box-icon">

                                                        <img loading="lazy" width="192" height="192" src="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png" class="attachment-full size-full" alt="" decoding="async" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3.png 192w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-100x100.png 100w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/icon-sport-3-150x150.png 150w" sizes="(max-width: 192px) 100vw, 192px">
                                                    </div>


                                                    <div class="pt-icon-box-title">
                                                        <a>

                                                            Stay Informed
                                                        </a>
                                                    </div>

                                                </div>


                                                <div class="pt-icon-box-text">
                                                    Access up-to-date information on nutrition, fitness, and wellness by Our Nutritionist Blogs.
                                                </div>

                                            </div>



                                            <a class="pt-icon-box-button pt-button textual">
                                                <span></span>

                                            </a>



                                        </div>

                                    </div>


                                </div><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>

                            <div class="pt-swiper-arrows">
                                <div class="pt-swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
                                <div class="pt-swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<section class="elementor-section elementor-top-section elementor-element elementor-element-df88048 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="df88048" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="background-color:#141414; margin: 100px 0; padding:40px 0 20px 0;">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ad26f8d" data-id="ad26f8d" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated e-swiper-container">
                <div class="elementor-element elementor-element-03decd0 elementor-widget elementor-widget-pt-heading" data-id="03decd0" data-element_type="widget" data-settings="{&quot;decor&quot;:[]}" data-widget_type="pt-heading.default">
                    <div class="elementor-widget-container">

                        <div class="pt-heading" style="text-align:center;  ">
                            <h2 class=" h2" style="color: white;">
                                Watch how we work
                            </h2>
                        </div>

                    </div>
                </div>
                <div class="elementor-element elementor-element-accbf20 elementor-widget elementor-widget-pt-video" data-id="accbf20" data-element_type="widget" data-widget_type="pt-video.default" style="margin-bottom:20px;">
                    <div class="elementor-widget-container">

                        <div class="pt-video popup-gallery has-image">
                            <a href="#" class="pt-video-button-wrapper" data-popup-json="{&quot;video&quot;:{&quot;html&quot;:&quot;&lt;iframe class=\&quot;pswp__video\&quot; width=\&quot;1920\&quot; height=\&quot;1080\&quot; src=\&quot;https://www.youtube.com/embed/UvlrppqtZoA?si=6whSzdKG-6VyxPPZ\&quot; frameborder=\&quot;0\&quot; allowfullscreen=\&quot;\&quot;&gt;&lt;/iframe&gt;&quot;,&quot;w&quot;:1920,&quot;h&quot;:1080}}" data-id="0">
                                <div class="pt-video-button"></div>
                            </a>
                            <div class="pt-video-image">
                                <img loading="lazy" width="1900" height="950" src="https://www.eatingdisorderhope.com/wp-content/uploads/2022/07/Dietician-and-Water-Retention.jpg" class="attachment-full size-full" alt="" decoding="async" srcset="https://www.eatingdisorderhope.com/wp-content/uploads/2022/07/Dietician-and-Water-Retention.jpg 1900w, https://www.eatingdisorderhope.com/wp-content/uploads/2022/07/Dietician-and-Water-Retention.jpg 1080w, https://www.eatingdisorderhope.com/wp-content/uploads/2022/07/Dietician-and-Water-Retention.jpg 300w, https://www.eatingdisorderhope.com/wp-content/uploads/2022/07/Dietician-and-Water-Retention.jpg 1024w, https://www.eatingdisorderhope.com/wp-content/uploads/2022/07/Dietician-and-Water-Retention.jpg 768w, https://www.eatingdisorderhope.com/wp-content/uploads/2022/07/Dietician-and-Water-Retention.jpg 1536w" sizes="(max-width: 1900px) 100vw, 1900px">
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</section>





<section class="elementor-section elementor-top-section elementor-element elementor-element-14a702e elementor-section-boxed elementor-section-height-default elementor-section-height-default" style="margin-top:20px;">
    <div class="elementor-container elementor-column-gap-extended">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-02e7c16" data-id="02e7c16" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated e-swiper-container">
                <div class="elementor-element elementor-element-b86e0cc elementor-widget elementor-widget-pt-heading" data-id="b86e0cc" data-element_type="widget" data-settings="{&quot;decor&quot;:[]}" data-widget_type="pt-heading.default">
                    <div class="elementor-widget-container">

                        <div class="pt-heading">
                            <h2 class=" h2" style="text-align:center;">
                                Meet Our Team
                            </h2>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>





<style>

    .containerabout {
        margin-bottom: 50px;
    }

    #team {
        margin-left: 90px;
        gap: 90px;
    }

    .box {
        border-radius: 150px;
        background: #fff;
        position: relative;
        overflow: hidden;
        text-align: center;
    }

        .box:before {
            position: absolute;
            content: '';
            left: 0px;
            top: 0px;
            width: 0px;
            height: 100%;
            border-radius: 150px;
            box-shadow: inset 0 0 25px rgba(0,0,0,0.30);
            transition: all 0.3s ease;
            background-image: linear-gradient(to right, #d9e563 0%, #CDDC39 100%);
        }

        .box:hover:before {
            width: 100%;
        }

        .box:hover .image-wrapper {
            padding: 0;
        }

        .box:hover .box-desc {
            color: #fff;
        }

        .box:hover .social li a {
            background: #fff;
            background-image: none;
            color: #000;
        }

            .box:hover .social li a:hover {
                background: #1d1d1d;
                color: #fff;
            }

    .image-wrapper {
        position: relative;
        max-width: 210px;
        max-height: 210px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        padding: 15px;
        transition: all 0.5s ease;
        box-shadow: inset 0px 0px 20px rgba(0,0,0,0.20);
    }

        .image-wrapper img {
            border-radius: 50%;
            transition: all 500ms ease;
        }

    .box-desc {
        position: relative;
    }

    ul.social {
        padding: 0;
    }

        ul.social li {
            display: inline-block;
            list-style-type: none;
        }

            ul.social li a {
                position: relative;
                width: 36px;
                height: 36px;
                background-image: linear-gradient(to right, #d9e563 0%, #CDDC39 100%);
                display: inline-block;
                line-height: 36px;
                border-radius: 50%;
                color: #fff;
                transition: all .5s ease;
            }

</style>



<div class="containerabout">
    <div class="row vh-100" id="team">

        <div class="col-sm-6 col-lg-3 my-auto">
            <div class="box shadow-sm p-4">
                <div class="image-wrapper mb-3">
                    <img class="img-fluid" src="https://avatars.githubusercontent.com/u/108761821?v=4" alt="..." />
                </div>
                <div class="box-desc">
                    <h5>Anas Al Shammah</h5>
                    <p>Developer</p>
                </div>
                <ul class="social">
                    <li>
                        <a href="https://github.com/Anas-AlShammah" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/anas-al-shammah/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 my-auto">
            <div class="box shadow-sm p-4">
                <div class="image-wrapper mb-3">
                    <img class="img-fluid" src="https://avatars.githubusercontent.com/u/122750401?v=4" alt="..." />
                </div>
                <div class="box-desc">
                    <h5>Nadine Aleideh</h5>
                    <p>Developer</p>
                </div>
                <ul class="social">
                    <li><a href="https://github.com/NadineAleideh" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/nadine-aleideh-1428b1252/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 my-auto">
            <div class="box shadow-sm p-4">
                <div class="image-wrapper mb-3">
                    <img class="img-fluid" src="https://avatars.githubusercontent.com/u/119670933?v=4" alt="..." />
                </div>
                <div class="box-desc">
                    <h5>Abdelrahman Shaheen</h5>
                    <p>Developer</p>
                </div>
                <ul class="social">
                    <li><a href="https://github.com/abdarahman-shaheen" target="_blank"><i class="fab fa-github" ></i></a></li>
                    <li><a href="https://www.linkedin.com/in/abdelrahmanshaheen/" target="_blank"><i class="fab fa-linkedin" ></i></a></li>

                </ul>
            </div>
        </div>


    </div>
</div>

<div class="containerabout">
    <div class="row vh-100" id="team">
        <div class="col-sm-6 col-lg-3 my-auto">
            <div class="box shadow-sm p-4">
                <div class="image-wrapper mb-3">
                    <img class="img-fluid" src="https://avatars.githubusercontent.com/u/122972754?v=4" alt="..." />
                </div>
                <div class="box-desc">
                    <h5>Hasan Mufdi</h5>
                    <p>Developer</p>
                </div>
                <ul class="social">
                    <li><a href="https://github.com/Hasan-Mufdy" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://github.com/Hasan-Mufdy" target="_blank"><i class="fab fa-linkedin" ></i></a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3 my-auto">
            <div class="box shadow-sm p-4">
                <div class="image-wrapper mb-3">
                    <img class="img-fluid" src="https://avatars.githubusercontent.com/u/128583065?v=4" alt="..." />
                </div>
                <div class="box-desc">
                    <h5>Rama Maswadeh</h5>
                    <p>Developer</p>
                </div>
                <ul class="social">
                    <li><a href="https://github.com/ramawm20" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/rama-wael/" target="_blank"><i class="fab fa-linkedin" ></i></a></li>
                </ul>
            </div>
        </div>


        <div class="col-sm-6 col-lg-3 my-auto">
            <div class="box shadow-sm p-4">
                <div class="image-wrapper mb-3">
                    <img class="img-fluid" src="https://avatars.githubusercontent.com/u/128593975?v=4" alt="..." />
                </div>
                <div class="box-desc">
                    <h5>Ahmad Khater</h5>
                    <p>Developer</p>
                </div>
                <ul class="social">
                    <li><a href="https://github.com/ahmadjamalkhater" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/ahmad-khater-179110231/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>


    </div>
</div>