@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<section class="elementor-section elementor-top-section elementor-element elementor-element-ae784e8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ae784e8" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9a3533e" data-id="9a3533e" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-1b2f897 elementor-widget elementor-widget-pt-portfolio" data-id="1b2f897" data-element_type="widget" data-settings="{&quot;cols_md&quot;:2,&quot;cols_lg&quot;:4,&quot;navigation&quot;:&quot;load_more&quot;,&quot;type&quot;:&quot;grid&quot;}" data-widget_type="pt-portfolio.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-element elementor-element-ec6c0ff elementor-widget elementor-widget-pt-heading" data-id="ec6c0ff" data-element_type="widget" data-settings="{&quot;decor&quot;:[]}" data-widget_type="pt-heading.default">
                            <div class="elementor-widget-container">

                                <div class="pt-heading">
                                    <h2 class="pt-heading-title h2">
                                        Our best Nutritionists
                                    </h2>
                                </div>

                            </div>
                        </div>
                        <div class="portfolio-block filter-block portfolio-type-grid popup-gallery orientation-default with-filter" data-popup-settings="{&quot;popupTitle&quot;:false,&quot;popupDesc&quot;:false}">


                            <div class="row isotope load-wrap" style="position: relative; height: 1082px;">
                                <div class="grid-sizer col-1"></div>

                                @foreach (var n in Model.nutritionists)
                                {

                                    <article class="portfolio-item istp-item col-md-6 col-lg-3 category-30 popup-item">
                                        <div class="wrap">
                                            <div class="pt-team-member">


                                                <div class="pt-team-member-image">
                                                    <img loading="lazy" width="800" height="900" src="~/img/Nutritionist-1.jpg" class="attachment-full size-full" alt="" decoding="async" sizes="(max-width: 800px) 100vw, 800px">			<div class="social-links"><a href="https://twitter.com/promotheme" class="fab fa-twitter"></a><span></span><a href="https://www.facebook.com/promotheme/" class="fab fa-telegram-plane"></a><span></span><a href="https://instagram.com/promo_theme/" class="fab fa-instagram"></a><span></span></div>
                                                </div>


                                                <div class="pt-team-member-title">
                                                    @n.Name
                                                </div>


                                                <div class="pt-team-member-subtitle">
                                                    @n.Age
                                                </div>


                                            </div>

                                        </div>
                                    </article>


                                }

                            </div>

                            <div class="load-items-area"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
@foreach (var post in Model.posts){
    <h1>@post.Title</h1>
    <p>
    @post.Description
    </p>


}