@model Post

@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div style="background-color:#000 ;height:80px;margin-top:-10px;width:2000px;">

</div>

<h1>@Model.Title</h1>
<p>@Model.Description</p>
