@model Post

@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div style="background-color:#141414 ;height:80px;margin-top:-10px;width:2000px;">
</div>


<div class="container">
	<div class="row">
		<div class="col-2 col-lg-2">
		</div>
		<div class="col-12 col-lg-8">
			<article id="post-3342" class="post-3342 post type-post status-publish format-standard has-post-thumbnail hentry category-aerobics tag-gym tag-sports tag-vitamins">
				<div class="entry-content">
					<div class="entry-header">
						

						<h1 class="entry-title h3">@Model.Title</h1>
					</div>

					<div class="entry-thumb">
						<img width="1920" height="1286" src="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/slider-img-2.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" decoding="async" fetchpriority="high" srcset="https://promo-theme.com/woxfit/wp-content/uploads/2022/12/slider-img-2.jpg 1920w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/slider-img-2-1080x723.jpg 1080w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/slider-img-2-300x201.jpg 300w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/slider-img-2-1024x686.jpg 1024w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/slider-img-2-768x514.jpg 768w, https://promo-theme.com/woxfit/wp-content/uploads/2022/12/slider-img-2-1536x1029.jpg 1536w" sizes="(max-width: 1920px) 100vw, 1920px">
					</div>


					<p>@Model.Description</p>



				





					<div class="entry-meta entry-meta-bottom">
						<div class="entry-author">By John Smith</div>

						<div class="entry-date">
							24th Nov, 2022
						</div>

						
					</div>
				</div>
			</article>

			<div class="comments-area" id="comments">

				<div id="respond" class="comment-respond">
					<h3 id="reply-title" class="comment-reply-title">Add a Comment <small><a rel="nofollow" id="cancel-comment-reply-link" href="/woxfit/we-believe-that-our-best-work-creates-value-for-our-society-2/#respond" style="display:none;">Cancel reply</a></small></h3><form action="https://promo-theme.com/woxfit/wp-comments-post.php" method="post" id="commentform" class="comment-form">
						<p class="comment-form-comment"><label for="comment">Comment <span class="required">*</span></label> <textarea id="comment" name="comment" rows="5" placeholder="Text something..." cols="45" maxlength="65525" required="required"></textarea></p><p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" placeholder="Your name" name="author" type="text" value="" size="30" maxlength="245" autocomplete="name" required="required"></p>
						<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" placeholder="Your e-mail" name="email" type="text" value="" size="30" maxlength="100" autocomplete="email" required="required"></p>
						<p class="form-submit">
							<input name="submit" type="submit" id="submit" class="submit" value="Submit"> <input type="hidden" name="comment_post_ID" value="3342" id="comment_post_ID">
							<input type="hidden" name="comment_parent" id="comment_parent" value="0">
						</p>
					</form>
				</div><!-- #respond -->
			</div>
		</div>
		<div class="col-2 col-lg-2">
		</div>
	</div>
</div>