@font-face {
  font-family: 'pticons';
  src: url('../fonts/pticons.woff?ci6x92') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pticon-"], [class*=" pticon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pticons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pticon-arrow-left-4:before {
  content: "\e91e";
}
.pticon-arrow-right-4:before {
  content: "\e91f";
}
.pticon-verify:before {
  content: "\e91a";
}
.pticon-star-2:before {
  content: "\e918";
}
.pticon-star:before {
  content: "\e919";
}
.pticon-arrow:before {
  content: "\e905";
}
.pticon-arrow-left:before {
  content: "\e916";
}
.pticon-arrow-right:before {
  content: "\e906";
}
.pticon-arrow-left-2:before {
  content: "\e917";
}
.pticon-arrow-right-2:before {
  content: "\e903";
}
.pticon-arrow-down:before {
  content: "\e914";
}
.pticon-arrow-left-3:before {
  content: "\e902";
}
.pticon-arrow-right-3:before {
  content: "\e91d";
}
.pticon-arrow-2:before {
  content: "\e901";
}
.pticon-add:before {
  content: "\e912";
}
.pticon-remove:before {
  content: "\e913";
}
.pticon-time-clock:before {
  content: "\e907";
}
.pticon-search:before {
  content: "\e908";
}
.pticon-plus:before {
  content: "\e909";
}
.pticon-minus:before {
  content: "\e90a";
}
.pticon-filter:before {
  content: "\e90b";
}
.pticon-delete:before {
  content: "\e90c";
}
.pticon-checkmark:before {
  content: "\e90d";
}
.pticon-asterisk:before {
  content: "\e90f";
}
.pticon-heart-2:before {
  content: "\e910";
}
.pticon-thunder:before {
  content: "\e904";
}
.pticon-checkmark-big-circle:before {
  content: "\e90e";
}
.pticon-shopping-bag:before {
  content: "\e900";
}
.pticon-quote:before {
  content: "\e915";
}
.pticon-heart:before {
  content: "\e911";
}
